
server {
  listen 8080 default_server;
  listen [::]:8080 default_server;

  listen 8443 ssl http2;
  listen [::]:8443 ssl http2;

  server_name _;

  include /config/nginx/ssl.conf;

  root /app/public;
  index index.html index.htm index.php;

  location / {
    try_files $uri $uri/ /index.html /index.php?$args;
  }

  location ~ .*\.php$ {
    include /etc/nginx/snippets/fastcgi-php.conf;
    fastcgi_pass 127.0.0.1:9000;
  }


  # deny access to .htaccess/.htpasswd files
  location ~ /\.ht {
    deny all;
  }

  error_page 500 502 503 504  /50x.html;
  location = /50x.html {
    root /var/lib/nginx/html;
  }
}
